.cardProducto{
    width: 20rem;
    margin: 10px;
    background-color: hsl(0, 0, 97%);
}

.cardProductos{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    align-items: center;
    justify-content:center;
    margin-left: 100px;
    margin-top: 3px;
}

.cardComplete{
    border: solid 3px black;
    border-radius: 5px;
}

.cardBody{
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

.card-body{
    margin-top: 50px;
}

.cardBodyDark{
    background-color: hsl(0, 0%, 33%);
    margin-top: 3px;
    text-align: center;
}

.cartWidget{
    margin-right: 10px;
    color: white;
}

.cartContainer{
    margin-top: 3%;
    margin-left: 26,5%;
}

.cardCart{
    max-width: 640px;
}

.divButtons button{
    margin: 4px;
}

img{
    height: 20rem;
    margin-top: 3px;
}

.imgItemDetail{
    height: 20rem;
}

.itemDetail{
    max-width: 760px;
    margin-top: 20px;

}

.itemDetailBodyDark{
    background-color: hsl(0, 0%, 33%);
    color: white;
}

.contForm{
    margin-top: 20px;
}

.darkMode{
    background-color: black;
    color: gainsboro;
}

.cantCarrito{
    padding-right: 15px;
    color: black;
}